/* Contact.css */

.contact-container {
    padding: 80px 0;
    background-color: #f5f5f5;
  }
  
  .contact-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .contact-item:hover {
    transform: scale(1.05); /* Increase the size slightly on hover */
  }
  
  .contact-item .icon {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgb(251, 146, 0); /* Change the icon color to orange */
  }
  
  .contact-item h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contact-item p {
    font-size: 16px;
  }
  
  @media (max-width: 767px) {
    .contact-item {
      margin-bottom: 20px;
    }
  }
  