.card-img-top {
    width: 100%;
    height: 200px; /* Adjust this value to your preferred height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  .button {
    background-color: #eab523; /* Change to your preferred background color */
    color: rgb(247, 248, 244); /* Change to your preferred text color */
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #e24b28; /* Change to your preferred hover background color */
  }
  card {
    height: 100%; /* Set a fixed height for the card container */
  }
  
  .card-img {
    height: 100%; /* Set a fixed height for the card image */
    object-fit: cover; /* Maintain aspect ratio while covering the entire height */
  }
  